<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <title>Track</title>
  <style>

  </style>
</head>

<body>
  <div class="container-fluid mt-5 " style="text-align: center;">

    <div class="text-container">
      <form action="/track" method="POST" class="form-group column display-5 col-md-12">
        <h2>Add New Track</h2> <br>
        <label for="">Select Platform : </label> &nbsp;
        <select name="platform" class="form-select" aria-label="Default select example">
          <option value="amazon">Amazon</option>
          <option value="flipkart">Flipkart</option>
          <!-- <option value="">Myntra</option> -->
          <!-- <option value="">Messo</option> -->
          <option value="snapdeal">Snapdeal</option>
          <option value="dummy">Dummy</option>
        </select>
        <br>
        <label for="">URL of the product :</label>
        <input type="text" name="url" style="margin-left: 490px;" class="form-control w-25"> <br>
        <label for="">Target price :</label>
        <input type="number" name="targetPrice" style="margin-left: 490px" class="form-control w-25"> <br>
        <label for="">Original price :</label>
        <input type="number" name="originalPrice" style="margin-left: 490px" class="form-control w-25"> <br>
        <!-- <input type="text" placeholder="min" style="width: 50px; border:none ;"> to <input type="text" placeholder="max"
          style="width: 50px; border: none;"> -->
        <br>
        <div class="form-outline mb-4" style=" width:25%; text-align: center; margin-left: 490px;">
          <label class="form-label" name="description" for="form4Example3">Description</label>
          <textarea name="label" class="form-control" id="form4Example3" rows="4"></textarea>
        </div>
        <button class="btn btn-primary" type="submit">Save</button>
        <br> <br>
      </form>
    </div>
  </div>

  <!-- <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-login-form/draw2.webp" alt=""> -->
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
    integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.7/dist/umd/popper.min.js"
    integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/js/bootstrap.min.js"
    integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
    crossorigin="anonymous"></script>
</body>
</html>
